#header{
    background: rgb(38,96,165);
    height: 15vh;
    color: white;

}

#header a{
    color: white;
}

#header p{
    font-size: 1.2em;
}

#header h1{
    font-size: 3em;
}

#logo img{
     height: 15vh;
     width: 15vh;
     /*background: whitesmoke;*/
    filter: invert(100%);
    transform: scale(0.9);


}
#logo img:hover{
    transform: scale(1);
}

#mCartRow  {
    /*background-color: pink;*/
    padding-left: 50%;
    height: 15vh;
}


#mCart img{
    height: 10vh;
    width: 10vh;

}

#mCart img:hover{
    transform: scale(1.2);
}
#mCart img:active{
transform: translateY(1em)}

#mCart p{
    /*padding-top: 5vh;*/
    padding-left: 1em;
    font-size: 1.5em;
    /*color: red;*/
}

#mDeliv{
    padding-top: 5vh;
}