#header{
    background: blue;
    min-height: 18vh;
    color: white;
    font-size: 3em;
}

#header a{
    color: white;
}



#header img{
     height: 3em;
     width: 3em;
     background: whitesmoke;
 }

