#title{
font-size: 2em;
    padding-left: 5em;
    font-weight: bold;
}

[id*="cart_item-"]{
    position: relative;
    /*height: 30vh;*/
    padding: 2%;

    /*height: 25vh;*/
}

[id*="item_img_cont-"] img{
    width: 30vh;
    height: 20vh;
    cursor: pointer;

}
[id*="item_img_cont-"] img:hover{
    transform: scale(1.2);

}

[id*="item_name_cont-"]{
color: blue;
    font-size: 2em;

}

[id*="item_desc_cont-"]{
    color: blue;
    font-size: 1.5em;

}

.price{
 color: black;
    font-size: 1.5em;
}
.price_full{
 color: black;
    font-size: 1.5em;
}
.del{
 color: red;
    font-size: 1.5em;
    cursor: pointer;
}

.del:hover{
   transform: scale(1.2);
}


[id*="add-"]{
    color: green;
    font-size: 2em;
    font-weight: bold;
    /*padding: 0 3vh 0 3vh;*/
    cursor: pointer;
}
[id*="addRow-"]{
    /*width: 100%;*/
    text-align: center;
    border-color: gray;
    border-style: solid;
    border-width: 2px;
    border-radius: 2vh;
    /*margin: 0;*/
}
[id*="addRow-"] p{
    width: 100%;
}
[id*="addRow-"]:hover{
    background-color: #9cff94;
}
[id*="addRow-"]:active{
    background-color: #87e77f;
    transform: translateY(1vh);
}

[id*="count-"]{
    color: blue;
    font-size: 2em;
    font-weight: bold;
    padding: 0 3vh 0 3vh;
}
[id*="countRow-"]{
    /*width: 100%;*/
    text-align: center;
    border-color: gray;
    border-style: solid;
    border-width: 2px;
    border-radius: 2vh;
    /*margin: 0;*/
}

[id*="countRow-"] input{
    width: 100%;
    border-radius: 2vh;
    text-align: center;

}

[id*="decr-"]{
    color: red;
    font-size: 2em;
    font-weight: bold;
    /*padding: 0 3vh 0 3vh;*/
    cursor: pointer;
}


[id*="decrRow-"]{
    border-color: gray;
    border-style: solid;
    border-width: 2px;
    border-radius: 2vh;
    /*margin: 0;*/
    /*width: 100%;*/
    text-align: center;


}

[id*="decrRow-"] p{
    width: 100%;
}

[id*="decrRow-"]:hover{
    background-color: #ffa7a3;
}

[id*="decrRow-"]:active{
    background-color: #e59693;
    transform: translateY(1vh);
}