body{
    font-family: 'Mali', cursive;
    font-weight: 300;
    /*background-image:  url("bg_1.png") 70% 70% no-repeat / cover;*/
    /*padding: 2em;*/
    min-height: 100vh;
    /*text-shadow: 2px 2px whitesmoke;*/
    width: 100%;
    /*background: url("../../bg_1.png") 10% 10% no-repeat / cover;;*/
    background: whitesmoke;

}













