#topMenu{
    border-bottom-width: 1px ;
    border-bottom-style: solid ;
    border-bottom-color: blue;
    cursor: pointer;
    height: 8vh;
}




[id*="tm_item-"]{
    border-right: blue;
    border-right-style: solid;
    border-right-width: 1px;

    font-size: 1.2em;
    color: blue;
    font-weight: bold;
    text-align: center;
    height: 8vh;
}

[id*="tm_item-"]:hover{
    font-size: 1.5em;
    font-weight: bold;
}

[id*="tm_item-"] a{
    color: blue;
}

#tm_item-6{
    border-right: transparent;
}

[id*="tm_item-"] p{
padding-top: 10%
}