
[id*="ctlg_item-"]{
    position: relative;
    height: 50vh;
    /*padding: 5%;*/
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
    border-color: gray;

}

/*[id*="ctlg_item-"]:hover{*/
    /*position: relative;*/
    /*!*height: 30vh;*!*/
    /*!*background-color: rgba(156, 255, 148, 0.11);*!*/
    /*!*font-size: 1.2em;*!*/
    /*!*font-weight: bold;*!*/
    /*text-shadow: gray 1px 1px;*/
/*}*/


[id*="ctlg_item-"] #item_imgRow{

    overflow: hidden;

}



[id*="ctlg_item-"] img{
    width: 100%;
    height: 30vh;
    transition: 500ms;

}
#catalog p{
    z-index: 2;
}

/*[id*="ctlg_item-"] p{*/
    /*position: absolute;*/
    /*bottom: 0;*/
    /*alignment: center;*/
    /*z-index: 2;*/
    /*margin-left: 2em;*/
    /*font-size: 1.5em;*/
    /*color: whitesmoke;*/
    /*text-shadow: gray 1px 1px;*/
    /*!*border-radius: 0.5em;*!*/
    /*!*border-style:groove;*!*/
    /*!*border-width: 1px;*!*/
    /*!*border-color: whitesmoke;*!*/
    /*padding: 0.5em;*/

/*}*/


.item_ttl{
    color: blue;
    margin: 1em;
    font-size: 1.5em;
    height: 5vh;
    /*white-space: nowrap;*/
    /*transition: 500ms;*/

}

.item_price{
    color: red;
    margin: 1em 1em 1em 1em;
    font-size: 2em;
    /*background-color: #fd3836;*/
    width: 100%;
    text-align: right;
    /*transition: 500ms;*/

}


