#topMenu{
    border-bottom-width: 1px ;
    border-bottom-style: solid ;
    border-bottom-color: blue;
    cursor: pointer;
    height: 8vh;
}

#top_menu{
    background: white;
    min-height: 8vh;
}

#top_menu a{
    color: blue;
}


[id*="tm_item-"]{
    white-space: nowrap;

    border-right: blue;
    border-right-style: solid;
    border-right-width: 1px;

    font-size: 1.6em;
    color: blue;
    font-weight: bold;
    text-align: center;
    height: 8vh;
}

[id*="tm_item-"]:hover{
    font-size: 1.8em;
    font-weight: bold;
}

[id*="tm_item-"] a{
    color: blue;
}

#tm_item-5{
    border-right: transparent;
}



[id*="tm_item-"] p{
padding-top: 7.5%
}