#title{
font-size: 2em;
    padding-left: 5em;
    font-weight: bold;
}
#priceOrder{
    font-size: 1.5em;
    padding-left: 5em;
    color: blue;
}

#priceOrderCount{
    font-size: 1.7em;
    font-weight: bold;

    color: red;

}

[id*="cart_item-"]{
    position: relative;
    /*height: 30vh;*/
    padding: 2%;

    /*height: 25vh;*/
}

[id*="item_img_cont-"] img{
    width: 30vh;
    height: 20vh;
    cursor: pointer;

}
[id*="item_img_cont-"] img:hover{
    transform: scale(1.2);

}

[id*="item_name_cont-"]{
color: blue;
    font-size: 2em;

}

[id*="item_desc_cont-"]{
    color: blue;
    font-size: 1.5em;

}

[id*="price-"]{
 color: black;
    font-size: 1.5em;
}
[id*="price_full-"]{
 color: black;
    font-size: 1.5em;
}

[id*="del-"]{
    width: 10vh;
    height: 10vh;
 color: red;
    font-size: 1.5em;
    cursor: pointer;
}

[id*="del-"]:hover{
   transform: scale(1.2);
}


[id*="decr-"]{
    cursor: pointer;
}

[id*="decr-"] img{
    width: 7vh;
    height: 7vh;
}

[id*="decrRow-"]:hover{
}

[id*="decrRow-"]:active{
    transform: translateY(1vh);
}



[id*="add-"]{
  cursor: pointer;
}
[id*="add-"] img{
 width: 7vh;
height: 7vh}


[id*="addRow-"]:hover{
}
[id*="addRow-"]:active{
    transform: translateY(1vh);
}




[id*="count-"]{
    color: blue;
    font-size: 2em;
    font-weight: bold;
    padding: 0 3vh 0 3vh;
}
[id*="countRow-"]{
    /*width: 100%;*/
    text-align: center;
    border-color: gray;
    border-style: solid;
    border-width: 2px;
    border-radius: 2vh;
    /*margin: 0;*/
}

[id*="countRow-"] input{
    width: 100%;
    border-radius: 2vh;
    text-align: center;

}









#msDeliv{
    margin: 1em 0 0 0;

}

/*--------------------------------------------------------------------- For mobile phones:  ---------------------------------------------------*/


@media only screen and (orientation: portrait)  {

    #container{
        min-height: 75vh;
    }

    #title{
        font-size: 1.2em;
        padding-left: 1em;
        font-weight: bold;
    }


    [id*="cart_item-"]{
        position: relative;
        /*height: 30vh;*/
        padding: 2%;

        /*height: 25vh;*/
        border-style: solid;
        border-width: 1px;
        border-color: rgba(102, 102, 102, 0.51);
    }

    [id*="item_img_cont-"] img{
        width: 30vh;
        height: 20vh;
        cursor: pointer;

    }
    [id*="item_img_cont-"] img:hover{
        transform: scale(1.2);

    }

    [id*="item_name_cont-"]{
        color: blue;
        font-size: 1em;

    }

    [id*="item_desc_cont-"]{
        color: blue;
        font-size: 0.7em;

    }

    [id*="price-"]{
        color: black;
        font-size: 0.8em;
    }
    [id*="price_full-"]{
        color: black;
        font-size: 0.8em;
    }



    [id*="del-"]{
        width: 10vh;
        height: 10vh;
        color: red;
        font-size: 1.5em;
        cursor: pointer;
        margin: 7vh 0 0 0 ;

    }




    [id*="del-"]:hover{
        transform: scale(1.2);
    }

    [id*="decrRow-"]{
        cursor: pointer;
        height: 7vh;
        line-height: 7vh;
    }

    [id*="decrRow-"] img{
        width: 5vh;
        height: 5vh;
    }

    [id*="decrRow-"]:hover{
    }

    [id*="decrRow-"]:active{
        transform: translateY(1vh);
    }



    [id*="addRow-"]{
        cursor: pointer;
    }
    [id*="addRow-"] img{
        width: 5vh;
        height: 5vh}


    [id*="addRow-"]:hover{
    }
    [id*="addRow-"]:active{
        transform: translateY(1vh);
    }





    [id*="countRow-"]{
        /*width: 100%;*/
        text-align: center;
        border-color: transparent;
        border-style: solid;
        border-width: 0;
        border-radius: 0;
        /*margin: 0;*/

        color: blue;
        font-size: 2em;
        font-weight: bold;
        padding: 0 3vh 0 3vh;
        width: 15vh;
        margin-left: 1vh;
        margin-bottom: 1vh;
    }

    [id*="countRow-"] input{
        width: 100%;
        border-radius: 2vh;
        text-align: center;

    }







}