
[id*="ctlg_item-"]{
    position: relative;
    /*height: 30vh;*/
    padding: 5%;
}

[id*="ctlg_item-"]:hover{
    position: relative;
    /*height: 30vh;*/
    background-color: rgb(135, 252, 245);
}



[id*="ctlg_item-"] img{
    width: 100%;
    height: 30vh;

}
#catalog p{
    z-index: 2;
}

/*[id*="ctlg_item-"] p{*/
    /*position: absolute;*/
    /*bottom: 0;*/
    /*alignment: center;*/
    /*z-index: 2;*/
    /*margin-left: 2em;*/
    /*font-size: 1.5em;*/
    /*color: whitesmoke;*/
    /*text-shadow: gray 1px 1px;*/
    /*!*border-radius: 0.5em;*!*/
    /*!*border-style:groove;*!*/
    /*!*border-width: 1px;*!*/
    /*!*border-color: whitesmoke;*!*/
    /*padding: 0.5em;*/

/*}*/